.bundle
db/*.sqlite3
log/*.log
tmp/logs/*
tmp/sass-cache
tmp/pids/*
.bundle
public/stylesheets/*.css
public/stylesheets/back/
public/stylesheets/front/
public/stylesheets/reset/
config/database.yml
*~
.ideatmp/*
tmp/
.idea/
.idea/*
db/schema.rb
config/facebook.yml
config/facebook.yml
config/lcl.yml
public/images/sprites
public/flash
public/images/projects